<template>
    <div>
        <b-nav tabs>
            <b-nav-item disabled><b>Bruno App</b></b-nav-item>
            <b-nav-item disabled>Counter 4/10</b-nav-item>
        </b-nav>
    </div>
</template>