<template>
  <div class="question-box-container">
    <b-jumbotron>

      <template v-slot:lead>
        {{ myQuestion.question }}
      </template>
      
      <hr class="my-4">
      <div class="answer-class">
        <p v-for="answer in answers" :key="answer">
            <b-row>
              <b-col>{{ answer }}</b-col>
            </b-row>
        </p>
      </div>
      <b-button variant="primary" href="#">Submit</b-button>
      <b-button @click="nextFunc" variant="success" href="#">
          Next
      </b-button>
      <br>
      <br>
      <br>
      {{this.myQuestion.correct_answer}}
    </b-jumbotron>
  </div>
</template>

<script>
export default {
    props: {
        myQuestion: Object,
        nextFunc: Function
    },
    computed: {
        answers() {
            let answers = [...this.myQuestion.incorrect_answers]
            answers.push(this.myQuestion.correct_answer)
            return answers
        }
    }
}
</script>

<style scoped>
.answer-class {
    margin-bottom: 15px;
}
.btn {
    margin: 0 5px;
}
</style>