<template>
  <div id="app">
    <Header />
    <QuestionBox 
      v-if="questions.length > 0"
      :myQuestion="questions[index]" 
      :nextFunc="nextFunc"/>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import QuestionBox from './components/QuestionBox.vue'

export default {
  name: 'App',
  components: {
    Header, 
    QuestionBox
  },
  data(){
    return {
      questions: [],
      index: 0
    }
  },
  methods: {
    nextFunc(){
      this.index++
    }
  },
  mounted() {
    fetch('https://opentdb.com/api.php?amount=10&category=27&type=multiple', {
      method: 'get'
    })
    .then((response) => {
      return response.json()
    })
    .then((jsonData) => {
      this.questions = jsonData.results
    })
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
